#gameScreen {
    border:5px solid black;
  }

  #name-prompt-overlay{
    width:100%;
    height: 100%;

    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;

   background-color: rgba(49, 49, 49, 0.5);
    z-index: 1;
  }

  #name-prompt-container {

    text-align: center;
    position:absolute;
    width: 490px;
    height: 100px;

    top:50%;

    right: 0;
    left:0;

    margin:  auto;

    z-index:2;
  }

  #name-submit:hover{
    cursor: pointer;
  }


  #scoreboardContainer{
    width: 200px;
    height: 596px;
    padding: 0;
    border: 1px solid black;
  }



  #messageContainer{
    width: 200px;
    height: 596px;
    padding: 0;
    border: 1px solid black;
  }

  #messages{
    height: 570px;
    padding: 0;
    margin: 0;
    text-align: left;
    overflow-y:auto;
  }

  #messages li{
    list-style-type: none;
    padding: 5px;
    border: 1px solid black;
  }


  #setting table{
    margin: auto;
    border-collapse: separate;
  }


  input, input:focus{
    outline:none;
  }


  img {
    display: none;
  }
  canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: right;
  } 
  