<html>
  <head>
    <title>Normandy</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel='stylesheet' type='text/css' href='/dist/main.bundle.css'/>
  
 
  </head>

  <body>
    <div id = "name-prompt-overlay">
      <div id='name-prompt-container'>
        <form id='name-form'>
          <input type = 'text' id='name-input' placeholder='Player Name' autocomplete = 'off'/>
          <button id='name-submit'>
            PLAY
          </button>
        </form>
      </div>
    </div>

    <canvas id="gameScreen" width="800" height="600"></canvas>

  </body>
  
  <script src="/dist/client.bundle.js"></script>
</html>

